<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="page">
            <div class="header page-const"></div>

            <div class="main">
                <div class="title">
                    <h1>Test o spoznaji intrapersonalnih sposobnosti</h1>
                </div>

                <div class="additional-info">
                    <p class="explination">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nihil dignissimos soluta exercitationem animi nesciunt error perferendis architecto perspiciatis ad, consequuntur provident repellat veniam obcaecati id ab nisi eligendi tempore.
                    </p>
                    <div class="picture">
                        
                    </div>
                </div>

                <div class="btn-div">
                    <form action="/test" method="get">
                        <button type="submit" class="test-hplk">
                            Zapocni test
                        </button>
                    </form>
                </div>
            </div>

        </div>
        
    </body>
</html>